* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #ecec99, #f5bbcc);
 
}

.navbar {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  align-items: center;
  background-color: #ff6f61;
  padding: 1rem 2rem;
  color:white;
}

.nav-links {
  list-style: none;
  display: flex;
  
  gap: 80px;
}

.nav-links a {
  color:black;
  text-decoration: none;
  font-size:large;
  font-weight: bold;
}

.menu-icon {
  font-size: 1.5rem;
 
  cursor: pointer;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;


}

.hero-text {
  flex:0.78;
  padding: 6rem;
  background: linear-gradient(to right, #f7f7b7, #f5bbcc);
  
}

.hero-text h1 {
  font-size: 3rem;
  margin-top:3.5rem;
  margin-bottom: 2rem;
}

.hero-text p {
  
  font-size: 1rem;
  margin-top:3.5rem;
  margin-bottom: 3.5rem;
  text-align: justify;
}

.hero-text button {
  background-color: #ff6f61;
  color: white;
  border: none;
  padding: 0.75rem 3.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.hero-image img {
  width: 100%;
  height: 100%;
}
.container {
 
  margin-top: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    padding-bottom: 10%;
    
}
#navbar1{
  border: 15px solid black;
  background-color: black
}

.image-collage .collage-grid {
   
    display: grid;
    grid-template-rows: 230px 230px;
    grid-template-columns:230px 230px;
    gap: 8px;
    width: 300px;
}

.image-collage .collage-grid img {

    width: 100%;
    height: 100%;
    object-fit:cover;
   
}

.collage-grid .img1 {
  
    grid-column: 2/3;
    grid-row: 1/3;
    margin-left: 10px;
    

}


.text-box {
    margin-left: 15%;
    
    padding-left: 10%;
    background: #ff5e62;
    color: black;
    padding: 40px;
    
    width: 450px;
    height: 250px;
    text-align: left;
}

.text-box .subtitle {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.text-box h1 {
    font-size: 38px;
    line-height: 1.2;
    margin: 0;
}

.text-box .link {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}